body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-height: 70px;
}

header h2 {

}

.content {
    background-image: url(img/vann.jpeg);
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: top;
    font-size: 110%;
    color: white;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li {
    margin-left: 20px;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s;
}

.nav a:hover {
    color: #007BFF;
}
